@{
    ViewBag.Title = "uploadCSV";
}

<h2>Cargar Clientes CSV</h2>

@using (Html.BeginForm("uploadCSV", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fileForm" />
    <input type="submit" name="" value="Enviar" />
}
