﻿ /*aplicando estilos a una etiqueta*/
body {
    font-family: 'Dosis', sans-serif;
}

/*aplicando estilos por medio de las clases*/
.tituloHome {
}

.navbar-inverse {
    background-color: black;
}

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
