@model Ejemplo1aspnetmvc.Models.producto_imagen

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la imagen del producto</h2>

<div>
    <h4>producto_imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            Producto
        </dt>

        <dd>
            @Ejemplo1aspnetmvc.Controllers.ProductoImagenController.NProducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el usuario", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresa a las lista", "Index")
</p>
