@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>SISTEMA DE INVENTARIO</h1>
    <br> <br />
    <img src="https://66.media.tumblr.com/a2e4787a19ad4e766a5eb8f871c97c5d/tumblr_inline_pq60pkhAQ11qhxzx3_1280.png" alt="" width="100%" height="100%" />
    <br> <br />
    <p class="lead">Lista ordenada de bienes y demás cosas valorables que pertenecen a una persona, empresa o institución.</p>
    <p><a href="https://asp.net" class="btn btn-success btn-outline-success">Mas Información &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>.NET </h2>
        <p>
            . NET es una plataforma de aplicaciones que permite la creación y ejecución de servicios web y aplicaciones de Internet.
            En la plataforma de desarrollo se pueden utilizar una serie de lenguajes, implementaciones, herramientas y bibliotecas
            para el desarrollo de las aplicaciones.
        </p>
        <p><a href="https://www.emagister.com/blog/que-es-el-net-para-que-sirve/" class="btn btn-info btn-outline-info">Mas Información &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HTML</h2>
        <p>
            (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el componente más básico de la Web. Define el
            significado y la estructura del contenido web. ... "Hipertexto" hace referencia a los enlaces que conectan páginas web
            entre sí, ya sea dentro de un único sitio web o entre sitios web.
        </p>
        <p><a href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics" class="btn btn-info btn-outline-info">Mas Información &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CSS</h2>
        <p>
            CSS (en inglés Cascading Style Sheets) es lo que se denomina lenguaje de hojas de estilo en cascada y se usa para estilizar
            elementos escritos en un lenguaje de marcado como HTML. CSS separa el contenido de la representación visual del sitio.
            HTML no fue diseñado para tener etiquetas que ayuden a formatear la página.
        </p>
        <p><a href="https://developer.mozilla.org/es/docs/Web/CSS" class="btn btn-info btn-outline-info">Mas Información &raquo;</a></p>
    </div>
</div>