
@{
    ViewBag.Title = "uploadCSV";
}

<h2>Cargar CSV</h2>


@using (Html.BeginForm("uploadCSV", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fileForm" />
    <br>
    <input type="submit" name="" value="Cargar" />
}

